.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    transform: translate(-100%);
    /* transition: all 0.2s; */
}
.menuActive{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    transform: translate(0);
}
.backdropModal{
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}
.modal{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    padding: 20px 20px 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(52, 131, 199, 0.4);

    background-image: url('../../images/SVG/icon-line-blue.svg');
    background-repeat: no-repeat;
    background-size: 321px;
    background-position: -1px 300px;
}

.modalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.modalHeaderLink{
    font-size: 0;
    line-height: 0;
}
.modalIconLogo{
    width: 148px;
    height: 36px;
}
@media screen and (min-width:320px){
    .modal{
        max-width: 320px;
    }
}
@media screen and (min-width:768px) {
    .modal{
        min-width: 400px;
        background-size: 401px;
    }
    .modalIconLogo{
        width: 148px; 
        height: 36px;
    }
}
