.newsHero{
    background-image:linear-gradient(75.62deg,
            rgb(0, 158, 226, 0.7) 7.02%,
            rgb(39, 57, 146, 0.7) 91.67%), url('../../images/News/bg-img.jpg');
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .newsHero {
        background-image: linear-gradient(75.62deg,
                rgb(0, 158, 226, 0.7) 7.02%,
                rgb(39, 57, 146, 0.7) 91.67%), url('../../images/News/bg-img.jpg');
    }
}
.newsList{
    margin-bottom: 40px;
}
.newsListItems{
    border: 1px solid #eee;
    border-radius: 20px;
    max-width: 285px;
    margin: 0 auto;
}
.newsListItems:not(:last-child){
    margin-bottom: 20px;
}
.newsListItems div{
    padding: 18px 10px 15px 10px;
}
.newsListSubtext{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    color: #C4C4C4;
}
.newsListTitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}
.newsListText{
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
}
.newsListBtn{
    margin: 0 0 0 auto;
    height: auto;
    gap: 15px;
}
.newsListBtn::before,
.newsListBtn::after{
    display: none;
}
.padinationList{
    display: flex;
    justify-content: center;
    align-items: center;

}
.paginationListItem a{
    width: 36px;
    height: 36px;
    
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #122735;
    cursor: pointer;
}
.paginationListItemActive a{
    background: #273992;
    border-radius: 55px;
    color: #fff;
}
.paginationPrevLink{
    display: block;
    font-size: 0;
    line-height: 0;
    width: 36px;
    height: 36px;
    background-image: url('../../images/SVG/icon-arrow-left.svg');
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
}

.paginationNextLink{
    display: block;
    font-size: 0;
    line-height: 0;
    width: 36px;
    height: 36px;
    background-image: url('../../images/SVG/icon-arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}
.paginationDisabledBtn{
    opacity: 0.3;
    cursor: default;
}
.breakLink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}
@media screen and (min-width:768px) {
    .newsHero{
        background-image: linear-gradient(75.62deg,
                rgb(0, 158, 226, 0.7) 7.02%,
                rgb(39, 57, 146, 0.7) 91.67%), url('../../images/News/bg-img.jpg');
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .newsHero {
            background-image: linear-gradient(75.62deg,
                    rgb(0, 158, 226, 0.7) 7.02%,
                    rgb(39, 57, 146, 0.7) 91.67%), url('../../images/News/bg-img.jpg');
        }
    }
    .newsListItems{
        display: flex;
        max-width: 100%;
        width: 690px;
    }
    .newsListItems img{
        width: 150px;
    }
    .newsListItems div{
        padding: 20px 24px;
    }
    .newsListTitle{
        font-size: 18px;
        line-height: 21px;
    }
}
@media screen and (min-width:1200px) {
    .newsHero{
        background-image: linear-gradient(75.62deg,
                rgb(0, 158, 226, 0.7) 7.02%,
                rgb(39, 57, 146, 0.7) 91.67%), url('../../images/News/bg-img.jpg');
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .newsHero {
            background-image: linear-gradient(75.62deg,
                    rgb(0, 158, 226, 0.7) 7.02%,
                    rgb(39, 57, 146, 0.7) 91.67%), url('../../images/News/bg-img.jpg');
        }
    }
    .newsListItems{
        width: 815px;
    }
    .newsListItems:not(:last-child){
        margin-bottom: 40px;
    }
    .newsListItems img{
        width: 290px;
    }
    .newsListTitle{
        font-size: 20px;
        line-height: 23px;
    }
}