.sectionHero {
  padding: 20px 0 0 0;
  height: 330px;
  background-image: url('../../images/Hero/home.webp');
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .sectionHero {
    background-image: url('../../images/Hero/home.webp');
  }
}
.sectionHero h1{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.heroText {
  width: 117px;
  margin: 0 auto 12px auto;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  z-index: 1;
}
.heroBtn {
  margin: 0 auto;
  color: white;
  background: linear-gradient(75.62deg, #009ee2 7.02%, #273992 91.67%);
}

@media screen and (min-width: 768px) {
  .sectionHero {
    height: 410px;
    padding: 75px 0 0 0;
    background-image: url('../../images/Hero/home.webp');
  }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .sectionHero {
        background-image: url('../../images/Hero/home.webp');
      }
    }
  .heroText {
    width: 148px;
    margin: 0 auto 15px auto;
    font-size: 12px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .sectionHero {
    height: 750px;
    padding: 138px 0 0 0;
    background-image: url('../../images/Hero/home.webp');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .sectionHero {
        background-image: url('../../images/Hero/home.webp');
      }
    }
  .heroText {
    width: 271px;
    margin: 0 auto 20px auto;
    font-size: 20px;
    line-height: 1.5;
  }
}
