.filterListItem{
    margin-bottom: 10px;
    box-shadow: 0px 15px 45px rgba(7, 55, 115, 0.1);
    border-radius: 10px;
}
.filterListLabel{
    padding: 15px 20px;
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;

    background: #FFFFFF;
    box-shadow: 0px 15px 45px rgba(7, 55, 115, 0.1);
    border-radius: 10px 10px 0px 0px;
    
    color: #073773;
}
.filterListInput {
    display: none;
}
.filterItemContainer{
    padding: 20px 25px;
    background: #FFFFFF;
    box-shadow: 0px 15px 45px rgba(7, 55, 115, 0.1);
    border-radius: 0px 0px 10px 10px;

    width: 100%; 
    display: none;
}

.filterListInput:checked +.filterListLabel + .filterItemContainer {
    display: block;
}

.filterItemImg{
    width: 134px;
    height: 193px;
    margin: 0px auto 20px;
}
.checkboxListItem{
    display: flex;
}
.checkboxListItem:not(:last-child){
    margin-bottom: 25px;
}
.checkboxListLabel{
    margin-left: 7px;
    font-size: 16px;
    line-height: 1.19;
}
.checkboxListInput {
    cursor: pointer;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
}
.checkboxListInput:checked {
    background-color: #073773;
}
.checkboxListInput:checked::before {
    content: '✓';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerRadioBtn{
    margin-bottom: 10px;
    padding: 25px 30px;
    background: #FFFFFF;
    box-shadow: 0px 15px 45px rgba(7, 55, 115, 0.1);
    border-radius: 10px;
}
.radioText{
    width: 140px;
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
}
.radioList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.radioListItem input{
    cursor: pointer;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 1px solid #C4C4C4;
}
.radioListItem input:checked {
    border: 6px solid #073773;
}
.radioListLabel{
    margin-left: 7px;
    font-size: 16px;
    line-height: 1.19;
}
.containerSearchTeacher{
    margin-bottom: 20px;
    padding: 10px 30px;

    background: #FFFFFF;
    box-shadow: 0px 15px 45px rgba(7, 55, 115, 0.1);
    border-radius: 10px;
}
.searchTeacherLabel{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
}
.searchTeacherInput{
    margin: 10px 0 0 0;
    padding: 15px;
    width: 100%;

    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    outline: none;
}
.searchTeacherInput::placeholder{
    color: #E1E1E1;
}
.containerButton{
    margin-bottom: 55px;
}
.buttonSearh{
    margin: 0 auto 10px;
    background: linear-gradient(75.62deg, #009EE2 7.02%, #273992 91.67%);
    border-radius: 60px;
    color: #FFFFFF;
}
.buttonClear{
    margin: 0 auto;
    border: 1px solid #273992;
    border-radius: 60px;
    color: #073773;
}
.calendarContainer{
    margin-bottom: 50px;
}
.ellipseSchedule{
    width: 295px;
    height: 295px;
}
.ellipseSchedule::before{
    width: 265px;
    height: 315px;
}
.ellipseInput {
    width: 230px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #0000;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    outline: none;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-family: 'Serif';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    z-index: 2;
}

.ellipseInput::placeholder {
    color: #FFEEEE;
    opacity: 0.5;
    font-family: 'Serif';
    font-weight: 400;
    font-size: 6px;
    line-height: 1.17;
}
@media screen and (min-width:768px) {
    .filterList{
        padding-bottom: 38%;
        position: relative;
    }
    .filterListItem{
        margin: 0;
    }
    
    .filterListLabel{
        width: 25%;
        margin: 0;
        padding: 15px 10px;
        display: block;
        position: relative;
        float: left;
        opacity: 1;
        outline: 0;
        cursor: pointer;
        background: rgb(144, 202, 249, 0.2);
        border-bottom: 1px solid #009EE2;
        border-right: 1px solid white;
        text-align: center;
    }
    .filterItemContainer{
        padding: 35px 30px 30px;
        height: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 50px;
        width: auto;
        background: #FFFFFF;
        box-shadow: 0px 8px 8px rgba(7, 55, 115, 0.1);
        border-radius: 0px 0px 10px 10px;
    } 
    .filterItemImg{
        display: flex;
        margin: 0 60px 0 0;
        float: left;
        width: 90px;
        height: 130px;
    }
    .filterListInput:checked ~ .filterItemContainer{
        opacity: 1;
        height:auto;
    }
    .filterListInput:checked + .filterItemContainer {
        padding: 0;
    }
    .filterListInput:checked + .filterListLabel{
        background: #fff;
        border-bottom: 1px solid white;
        border-top: 1px solid #009EE2;
        border-left: 1px solid #009EE2;
        border-right: 1px solid #009EE2;
    }
    .checkboxList{
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .checkboxListItem{
        min-width: 160px;
        font-size: 16px;
        line-height: 1.19;
        
        color: #000000;
    }
    .checkboxListItem:not(:last-child) {
        margin-bottom: 0px;
    }
    .containerRadioBtn{
        display: flex;
        gap: 25px;
        margin-bottom: 20px;
    }
    .radioText{
        margin-bottom: 0;
    }
    .containerSearchTeacher{
        margin-bottom: 30px;
    }
    .searchTeacherLabel{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.19;
    }
    .searchTeacherInput{
        margin: 0 0 0 20px;
        width: 76%;
    }
    .containerButton{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .buttonClear,
    .buttonSearh{
        margin: 0;
    }
    .calendarContainer{
        margin-bottom: 80px;
    }
    .ellipseSchedule{
        width: 485px;
        height: 485px;
    }
    .ellipseSchedule::before{
        width: 430px;
        height: 515px;
    }
    .ellipseInput{
        width: 400px;
        margin-bottom: 20px;
        padding-bottom: 8px;
        font-size: 14px;
        line-height: 1.14;
    }
    .ellipseInput::placeholder{
        font-size: 10px;
        line-height: 1.2;
    }
    
}
@media screen and (min-width:1200px) {
    .filterList{
        padding-bottom: 23%;
    }
    .checkboxList{
        column-gap: 35px;
    }
    .radioList{
        justify-content: space-around;
    }
    .containerSearchTeacher{
        display: inline-block;
        width: 650px;
        margin-right: 15px;
        margin-bottom: 0;
    }
    .containerButton{
        display: inline-flex;
    }
    .buttonSearh{
        margin-bottom: 0;
    }
}